.top{
  font-size: 50px;
  margin-top: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 36px;
}
.App{
  margin-left: 16px;
  margin-right: 16px;
  width: 100vw;
}

.pubkey-input{
  width: 60%;
  margin-bottom: 36px;
  padding: 0.8rem;
}
.input-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.explain{
  margin-bottom: 48px;
  text-align: center;
}
.game{
  display: flex;
  margin-bottom: 18px;
  background-color: rgb(246, 243, 243);

}
.dice1{
  border: 2px solid white;
  display: flex;
  justify-content: center;
  border: 4px solid gray;
  align-items: center;
  height: 20rem;
  width: 20rem;
}
.dice2{
  border: 2px solid white;
  display: flex;
  justify-content: center;
  border: 4px solid gray;
  align-items: center;
  height: 20rem;
  width: 20rem;
}

.game-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pub{
  text-align: center;
}